<%- include('header') -%>
    <div class="container mt-2">
      <div class="row">
        <h1>Edit Ingredient</h1>
      </div>
      <div class="row">
        <div class="col-sm-4 col-0"></div>
        <div class="col-sm-4 col-12">
            <form method="POST">
                <div class="mb-3">
                  <label for="ingredientNameInput" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= ingredient.name %>"/>
                </div>
                <div class="mb-3">
                  <label for="measurementInput" class="form-label">Measurement</label>
                  <input type="text" class="form-control" id="measurement" name="measurement" value="<%= ingredient.measurement %>"/>
                </div>
                <div class="mb-3">
                  <label for="unitInput" class="form-label">Unit</label>
                  <input type="number" class="form-control" id="unit" name="unit" value="<%= ingredient.unit %>"/>
                </div>
                <div class="mb-3">
                    <label for="kcalInput" class="form-label">kCal</label>
                    <input type="number" class="form-control" id="kcal" name="kcal" value="<%= ingredient.kcal %>"/>
                  </div>
                  <div class="mb-3">
                    <label for="proteinInput" class="form-label">Protein</label>
                    <input type="number" class="form-control" id="protein" name="protein" value="<%= ingredient.protein %>"/>
                  </div>
                  <div class="mb-3">
                    <label for="carbohydrateInput" class="form-label">carbohydrate</label>
                    <input type="number" class="form-control" id="carbohydrate" name="carbohydrate" value="<%= ingredient.carbohydrate %>"/>
                  </div>
                  <div class="mb-3">
                    <label for="fatInput" class="form-label">Fat</label>
                    <input type="number" class="form-control" id="fat" name="fat" value="<%= ingredient.fat %>"/>
                  </div>
                <input type="submit" class="btn btn-primary" value="Submit"/>
                <a class="btn btn-secondary" href="/ingredients">Cancel</a>
              </form>
        </div>
      </div>
    </div>

    <%- include('footer') -%>
