<%- include('header') -%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex flex-row-reverse">
        <a class="btn btn-outline-info" href="/ingredients">Ingredients</a>
      </div>
    </nav>

    <div class="container mt-2">
      <div class="row">
        <h1>Recipes</h1>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Difficulty</th>
              <th scope="col">Time</th>
              <th scope="col">kcal</th>
              <th scope="col">Protein</th>
              <th scope="col">Carbohydrate</th>
              <th scope="col">Fat</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% recipes.forEach(function(recipe) { %>
              <tr>
                <th scope="row">
                  <a href="/manual/<%= recipe._id %>"><%= recipe.name %></a>
                </th>
                <td><%= recipe.difficulty %></td>
                <td><%= recipe.time %></td>
                <td><%= recipe.kcal %></td>
                <td><%= recipe.protein %></td>
                <td><%= recipe.carbohydrate %></td>
                <td><%= recipe.fat %></td>
                <td>
                  <button class="btn btn-danger">X</button>
                  <a class="btn btn-info" href="/manual/<%= recipe._id %>">INFO</a>
                  <a class="btn btn-secondary" href="/recept/edit/<%= recipe._id %>">EDIT</a>
                </td>
              </tr>
            <% }); %> 
            
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <a href="/recept/new" class="btn btn-primary">New Recipe</a>
        </div>
      </div>
    </div>

<%- include('footer') -%>
