<%- include('header') -%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex flex-row-reverse">
        <a class="btn btn-outline-info" href="/">Recipes</a>
      </div>
    </nav>

    <div class="container mt-2">
      <div class="row">
        <h1>Ingredients</h1>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Measurement</th>
              <th scope="col">Unit</th>
              <th scope="col">kcal</th>
              <th scope="col">Protein</th>
              <th scope="col">carbohydrate</th>
              <th scope="col">Fat</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% ingredients.forEach(function(ingredient) { %>
              <tr>
                <th scope="row"><%= ingredient.name %></th>
                <td><%= ingredient.measurement %></td>
                <td><%= ingredient.unit %></td>
                <td><%= ingredient.kcal %></td>
                <td><%= ingredient.protein %></td>
                <td><%= ingredient.carbohydrate %></td>
                <td><%= ingredient.fat %></td>
                <td>
                  <a class="btn btn-danger" href="/ingredient/del/<%= ingredient._id %>">X</a>
                  <a class="btn btn-secondary" href="/ingredient/edit/<%= ingredient._id %>">EDIT</a>
                </td>
              </tr>
            <% }); %> 
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <a href="/ingredient/new" class="btn btn-primary">New Ingredient</a>
        </div>
      </div>
    </div>

    <%- include('footer') -%>
